
.header {
	margin: 10px;
	height: 100px;
	width: 1000px;
	min-width: 800px; 
	display: flex;
  	text-align: center;
  	line-height: 100px;
  	font-family: Franklin Gothic book;
  	font-weight: bold;
}

